@use "../../node_modules/bootstrap/scss/bootstrap.scss" as *;

$color-ground: #D48F37;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    header{
         margin: 1rem 0;
        .logo-container{
            margin: 0 1rem;
            img{
                width: 3rem;
            }
        }
    }
    main{
        background-color: $color-ground;
    }
}